div(class="ui borderless main menu")
  div(class="ui text container")
    a(class="header item" href="/") WeJoin
    //- a.item Home
    //- div.ui.dropdown.item
    //-   a(href="/activity" style="color:inherit")
    //-     | Activities
    //-     i(class="dropdown icon")
    //-   div.menu
    //-     a.item(href="/activity/getbyuser") My Activities
    //-     a.item(href="/activity/create") Create(for test)
    //-     a.item(href="/activity/organizermodify") Modify(for test)
    //-     a.item(href="/activity/delete_all") Delete all(for test)
    //- div.ui.dropdown.item
    //-   a(href="/note" style="color:inherit")
    //-     | Notes
    //-     i(class="dropdown icon")
    //-   div.menu
    //-     a.item(href="/note/search") Search
    //-     a.item(href="/note/create") Create
    //-     a.item(href="/note/modify") Modify
    //-     a.item(href="/note/delete") Delete
    //- a.item Notes
    div.ui.dropdown.item._search
      div.menu
        div.item Activities
        div.item Notes
        div.item Users
    div(class="ui search item")
      form(id="search_activities_by_keyword", method="post", action="/activity/search")
        div(class="field")
          div(class="ui transparent icon input")
            i(class="search link icon", onclick="$('#search_activities_by_keyword').submit()")
            input.prompt(type="text", name="title", placeholder="Search Anything...")
    if (username)
      div(class="ui right floated dropdown item")
        | Welcome, #{username}
        i(class="dropdown icon")
        div.menu
          a.item(href="/user/modify") My Profile
          a.item Notifications
          a.item(href="/user/logout") Log Out
          a.item(href="/user") All Users
    else
      div(class="ui right floated dropdown item")
        a(href="/user/reg" style="color:inherit") Sign Up
        div.menu
          a.item(href="/user/login") Log In
          a.item(href="/user") All Users

  script.
    $(document).ready(function(){
      $('.main.menu').visibility({
          type: 'fixed'
        });
      $('.main.menu  .ui.dropdown').dropdown({
          on: 'hover'
        });
      $('._search.dropdown').dropdown();
    });