div(class="ui borderless main menu")
  div(class="ui container")
    a( href="/")
      img(class="ui image" src="/images/wejoin.png", style="width:120px;height:50px")
    div.ui.dropdown.item._search
      div.text Activities
      i.caret.right.icon
      div.menu
        div.item(meta-search-url = '/activity/search', meta-ph = 'Search Activities...') Activities
        div.item(meta-search-url = '/note/search', meta-ph = 'Search Notes...') Notes
        div.item(meta-search-url = '/user/search', meta-ph = 'Search Users...') Users
    div(class="ui search item")
      form(id="search_activities_by_keyword", method="post", action="/activity/search")
        div(class="field")
          div(class="ui transparent icon input")
            i(class="search link icon", onclick="$('#search_activities_by_keyword').submit()")
            input.prompt(type="text", name="keyword", placeholder="Search Anything...")
    if (username)
      div(class="ui right floated dropdown item")
        | Welcome, #{username}
        i(class="dropdown icon")
        div.menu
          a.item(href="/user/modify") My Profile
          a.item(href="/user/logout") Log Out
          a.item(href="/user") All Users
    else
      div(class="ui right floated dropdown item")
        a(href="/user/reg" style="color:inherit") Sign Up
        div.menu
          a.item(href="/user/login") Log In
          a.item(href="/user") All Users

  script.
    $(document).ready(function(){
      $('.main.menu').visibility({
          type: 'fixed',
        });
      $('.main.menu  .ui.dropdown').dropdown({
          on: 'hover'
        });
      $('._search.dropdown').dropdown({
        on: 'hover'
      });
      $('._search.dropdown .item').click(function(){
        var url = $(this).attr('meta-search-url');
        var ph = $(this).attr('meta-ph');
        $('#search_activities_by_keyword').attr('action', url);
        $('#search_activities_by_keyword input').attr('placeholder', ph);
      })
    });