doctype html

html
	head
		meta(charset="utf-8")
		title !{title}
		block scripts
			script(src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
			script(src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js")
			script(src="/javascripts/mixins.js")
		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css')
		style.
			body{
				background-image: url('/images/Sports.png');
				background-attachment: fixed
			}
	body
		block sidebar

		div(class="pusher", style="background-image: url('/images/Sports.png'); background-attachment: fixed")
			block header
				include layouts/header

			#wrapper
				block content