doctype html

html
	head
		meta(charset="utf-8")
		title !{title}
		script(src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css')
		script(src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js")
	body
		block header
			include layouts/header
		ul
			ul
				li
					a Search Activity
						form(id="SearchActivity", method="get", action="/activity/search/")
							input(type="text", id="title")
							input(type="submit", value="Search")
						script.
							var a = document.getElementById("SearchActivity");
							a.addEventListener("submit",function(e) {
								e.preventDefault();
								var b = document.getElementById("title").value;
								window.location.href = "/activity/search/" + b;
							});
			li
				a(href = "/Notification") Notification
			ul
				li
					a(href="/notification/create") Create Notification
				li
					a(href="/notification/delete") Delete Notification
		#wrapper
			block content