doctype html

html
	head
		meta(charset="utf-8")
		title !{title}
	body
		ul
			li
				a(href="/") Home
			li
				a(href="/activity") Activity
			ul
				li
					a(href="/activity/search") Search Activity
				li
					a(href="/activity/create") Create Activity
				li
					a(href="/activity/organizermodify") Modify Activity
				li
					a(href="/activity/delete") Delete Activity	
			li
				a(href ="/account") User
			ul
				li
					a(href="/account/guest") Guest
				ul
					li 
						a(href="/account/signup") Sign up
					li
						a(href="/account/signin") Sign in
				li 
					a(href="/account/reguser") RegUser
				ul
					li
						a(href="/account/modify") Update Account
					li
						a(href="/account/signout") Sign out
					li
						a(href="/account/follow") Follow
					li
						a(href="/account/recommondation") Recommondation
			li
				a(href = "/Notification") Notification
			ul
				li
					a(href="/notification/create") Create Notification
				li
					a(href="/notification/delete") Delete Notification
			li
				a(href = "/note") Note
			ul
				li
					a(href="/note/create") Create Note
				li
					a(href="/note/modify") Modify Note
				li
					a(href="/note/delete") Delete Note
			li
				a(href="/other") Other
		#wrapper
			if username
				p Welcome #{username}
			block content