extends ../layout
include ../mixins
block content
  //- p Welcome to #{title}.
  //- p Below is the list of users
  //- each user in users
  //-   div 
  //-     a(href='user/' + user._id) #{user.username}
  //-     spam #{user}
  div.ui.grid.container
        each user in users
          div.four.wide.column
            +user_card(user)