extends ../layout
include ../mixins
block content
  //- p Welcome to #{title}.
  //- p Below is the list of users
  //- each user in users
  //-   div 
  //-     a(href='user/' + user._id) #{user.username}
  //-     spam #{user}
  br
  div.ui.grid.container
    if users && users.length > 0
      each user in users
        div.four.wide.column
          +user_card(user)
    else
      div.ui.main.text.container
        div.ui.floating.error.message
          div.header No User Found
          p Please try another keyword.