extends ../layout
//- block content
//-     form(method = "post")
//-         div
//-             label Username:
//-             input(type = "text", name = "username")
//-         div
//-             label Password:
//-             input(type = "password", name = "password")
//-         div
//-             input(type = "submit" value = "Log In")
//-         div #{error_flash}
mixin text_field(name, icon, placeholder)
  div.field
    div(class="ui left icon input")
      i(class= icon + " icon")
      input(type = "text", name = name, placeholder=placeholder)

block content
  style.
    .column {
        max-width: 450px;
      }
    body > .grid {
        height: 100%;
      }
  div(class="ui middle aligned center aligned grid")
    div.column
      h2(class="ui teal image")
        div.content Log-in to your account
      form.ui.large.form(method="post")
        div.ui.stacked.segment
          +text_field("username","user", "Username")
          +text_field("password","lock", "Password")
          input(class="ui fluid large teal submit button" type="submit" value="Log In")
      div(class="ui error message") #{error_flash}


//- <div class="ui middle aligned center aligned grid">
//-   <div class="column">
//-     <h2 class="ui teal image header">
//-       <img src="assets/images/logo.png" class="image">
//-       <div class="content">
//-         Log-in to your account
//-       </div>
//-     </h2>
//-     <form class="ui large form">
//-       <div class="ui stacked segment">
//-         <div class="field">
//-           <div class="ui left icon input">
//-             <i class="user icon"></i>
//-             <input type="text" name="email" placeholder="E-mail address">
//-           </div>
//-         </div>
//-         <div class="field">
//-           <div class="ui left icon input">
//-             <i class="lock icon"></i>
//-             <input type="password" name="password" placeholder="Password">
//-           </div>
//-         </div>
//-         <div class="ui fluid large teal submit button">Login</div>
//-       </div>

//-       <div class="ui error message"></div>

//-     </form>

//-     <div class="ui message">
//-       New to us? <a href="#">Sign Up</a>
//-     </div>
//-   </div>
//- </div>

//- </body>
