extends ../layout

block content
	h1 Search Activities
	form(name="activity", method="get")
		span.label The Activity Title
		br
		input(type="text", name="title")
		input(type="submit", value="search")