extends ../layout

block content
	h1= title
	form(name="activity", method="post")
		span.label Title
		br
		input(type="text", name="title")
		br

		span.label Description
		br
		input(type="text", name="description")
		br

		span.label Organizer
		br

		input(type="text", name="organizer")
		br

		input(type="submit", value="Create")
