extends ../layout

block content
    h1= title
    each activity in activities
                        p #{activity.title} : #{activity.description}
    form(name="modify", method="post")
        div.input
            span.label Title
            input(type="text", name="title")
        div.actions
            input(type="submit", value="add")
