extends ../layout

block content
	p Below is the list of activities
		each activity in activities
			p 
				a(href="/activity/#{activity._id}") #{activity.title} : #{activity.description}. Time: #{activity.time}
