extends ../layout

block content
    h1= title
    form(name="notification", method="post")
        span.label Sendto
        br
            input(type="text", name="username")
        br

        span.label Description
            input(type="text", name="description")
        br
        div.actions
            input(type="submit", value="send")
    if error
        p #{error}