extends ../layout

block content
	h1= title
	p Welcome to #{title}.
		each note in notes
			p Title #{note.title}
			p Content
			div!= note.content
	form(name="note", method="post")
		div.input
			span.label Title
			input(type="text", name="title")
		div.input
			span.label Content
			textarea(type="text", name="content")
		div.actions
			input(type="submit", value="Modify")

	script(src="https://cdn.ckeditor.com/4.6.2/standard/ckeditor.js")
	script.
		CKEDITOR.replace('content',{
									uiColor: '#FFFFFF'
									});